@import 'utility';

html {
  text-size-adjust: 100%;
  height: 100vh;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

body,
#root,
.app {
  min-height: 100vh;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.gameboard {
  table {
    border-spacing: 0;

    td {
      height: 16px;
      width: 16px;
      border: 1px solid black;
      text-align: center;
      line-height: 16px;

      &.unrevealed {
        background-color: rgb(148, 148, 148);
      }

      &.empty,
      &.numbered {
        background-color: rgb(232, 232, 232);
      }

      &.bomb {
        background-color: rgb(250, 89, 89);
      }

      &.flagged {
        background-color: rgb(109, 117, 167);
      }

      &.flagbomb {
        background-color: rgb(158, 0, 255);
      }
    }
  }
}

footer {
  padding: 1em;
}
