@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
  height: 100vh;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

body,
#root,
.app {
    min-height: 100vh;
    width: 100%;
}

.app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgb(85,92,90);
  width: 100%;
}

.social {
  background-color: rgb(77,77,60);
}

.gameboard {
  background-color: rgb(148,148,148);
  table {
    border-spacing: 0;
    background-color: rgb(109,117,167);
    td {
      height: 16px;
      width: 16px;
      border: 1px solid black;
      text-align: center;
      line-height: 16px;
    }
  }
}

footer {
  padding: 1em;
  // background-color: rgb(118, 100, 131);
  width: 100%;
  align-items: center;
  text-align: center;
}

#a {
  position: relative;
  // left: 250px;
  border: 2px solid black;
}

#b {
  position: relative;
  // left: 250px;
  border: 2px solid black;
}

#c {
  position: relative;
  // left: 250px;
  border: 2px solid black;
}

header {
  text-align: center;
  align-items: center;
  align-content: center;
}

h1 {
  text-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  left: 565px;
  color: white;
  align-content: center;
  display: flex;
}

#d {
  position: relative;
  // left: 250px;
  border: 2px solid black;
}

#chris {
  width: 100%;
  flex-direction: row;
  height: 100%;
  background-color: rgb(29,9,9);
  display: flex;
  align-items: center;
}

#floor {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  background-color: rgb(29,29,32);
  width: 100%;
  top: -15px;
  position: relative;
}

#see {
  width: 100%;
  background-color: rgb(20,40,20);
  align-items: center;
  justify-content: space-between;
}

li {
  list-style-type: none;
}
